html,
container {
margin-top: 50px;
margin-left:100px;
margin-right:100px;
}
body {
  font-family: "Sofia", Sans-serif;
margin-left: 10%;
margin-right: 10%;
}
h1 {
  text-shadow: 3px 3px 3px #ababab;
  text-align: center;
  background-color: #e6e6fa;
  color: #353839;
  padding: 30px;
  size: 30%
}

h2 {background-color: #e6e6fa;
  text-color: #353839;
  text-align: center;
  border: 0px solid #D6A800;
  padding: 5px;
  margin-top: -4%;
}

img {margin-top:-10%;
  margin-bottom:-5%;
  width: 400px;
  height: 266.5px;

}

h3 {
margin-top:-1%;
background-color: #ffb7c5;
color: #353839;
  border: 1px solid;
  padding: 10px;
}

ul {
  margin-top: -1%;
  list-style-position: inside;
}

li {
  padding-left: 15px; 
    }

h4 {
  background-color: #ffddca; 
  color: #353839;
  border: 1px solid #D6A800;
  padding: 10px;
}

a {
  color: #0a7e8c;
  text-decoration: none;
}

a:hover {
color: #d470a2;
}

a:visited {
color: #aa98a9;
}

address {
  font-family: Arial;
}
