html,
container {
margin-top: 50px;
margin-left:100px;
margin-right:100px;
font-family: Garamond, Sans-Serif;}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
text-align: center;
}

h3 { 
text-decoration: underline;
}

.column1 {
  width: 45%;
  text-align: center;
  border: 15px dotted teal;
  padding: 10px;
  box-sizing: border-box;
}
.column2 {
  width: 45%;
  text-align: center;
  border: 15px dotted teal;
  padding: 10px;
  box-sizing: border-box;
}